.section-projet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:1.6rem;
    background-color: var(--light);
}


.project-card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    border: .2rem solid var(--lightblue);
    border-radius: .8rem;
    margin:1rem;
    padding: 1rem;
    width: 20rem;
    min-height: 22rem;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.project-card h3{
    color: var(--darkblue);
}